@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=sawp");

@media screen and (max-width: 2000px) {
  .navbar {
    background: #1e0253;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar-logo {
    color: #fff;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 800px;
    cursor: pointer;
    display: none;
  }
  .navbar-logo:hover {
    color: #1e0253;
    opacity: 0.8;
  }
  .fa-code {
    color: orange;
  }
  .fa-code:hover {
    color: #2c3e50;
  }

  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    list-style: none;
    text-align: left;
    width: 90vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .nav-menu.active {
    width: 100%;
    background: #1e0253;
    opacity: 0.8;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    height: 80px;
  }

  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }

  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }

  .fa-bars {
    color: #dd9f0d;
  }
  .fa-bars.fa-code:hover {
    color: #dd9f0d;
  }

  .nav-links-mobile {
    display: none;
  }

  .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 90vh;
    height: 90vw;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1e0253;
    opacity: 0.8;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #dd9f0d;
    opacity: 0.8;
    color: 330748;
    border-radius: 0;
    text-align: center;
  }

  .navbar-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: orange;
    font-size: 2rem;
  }
  .fa-times:hover {
    color: #fff;
    opacity: 0.8;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #1e0253;
    opacity: 0.8;
    color: #fff;
    transition: 250ms;
  }
  .fa-code {
    color: orange;
  }
  .fa-code:hover {
    color: #2c3e50;
  }

  .nav-links-socialNetWork {
    display: block;
    text-align: center;
    margin: 2rem auto;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    transition: all 0.3s ease-out;
  }
  .fa-facebook {
    background: transparent;
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    width: 90%;
    display: inline;
  }
  .fa-linkedin {
    background: transparent;
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    width: 90%;
    display: inline;
  }
  .visible {
    visibility: visible;
  }

  .hidden {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1e0253;
    opacity: 0.8;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #dd9f0d;
    opacity: 0.8;
    color: 330748;
    border-radius: 0;
    text-align: center;
  }

  .navbar-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: orange;
    font-size: 2rem;
  }
  .fa-times:hover {
    color: #fff;
    opacity: 0.8;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #1e0253;
    opacity: 0.8;
    color: #fff;
    transition: 250ms;
  }
  .fa-code {
    color: orange;
  }
  .fa-code:hover {
    color: #2c3e50;
  }

  .nav-links-socialNetWork {
    display: block;
    text-align: center;
    margin: 2rem auto;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    transition: all 0.3s ease-out;
  }
  .fa-facebook {
    background: transparent;
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    width: 90%;
    display: inline;
  }
  .fa-linkedin {
    background: transparent;
    color: white;
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    width: 90%;
    display: inline;
  }
  .visible {
    visibility: visible;
  }

  .hidden {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .navbar-logo img {
      display: none;
    }
    .navbar-logo {
      width: 50px;
      height: 50px;
      cursor: pointer;
      display: flex;
      margin-top: -10px;
    }
  }
  @media screen and (max-device-width: 1366px), screen and (max-width: 322px) {
    .navbar-logo img {
      display: none;
    }
  }
}
